main {
    background-image: url('https://i.pinimg.com/1200x/44/83/70/448370d8b3549c61e7110a365c71ebcb.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover ;
    height: 100%;
}

body {
    /*margin: 0;*/
    /*padding: 0;*/
}

.title-background {
    background: yellow;
    height: 650px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'SpongeBob Font Wide';
    border-radius: 5px;
}

.center-text {
    text-align: center;
    padding: 15px;
}

img {
    display :block;
    margin-left: auto;
    margin-right: auto;
    height: 400px
}

.timeline {
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

ul {
    padding-left: 100px;
    padding-right: 100px;
}

li {
    padding-bottom: 20px;
}